<template>
  <header>

      <b-row class="logo">
        <b-col cols="2">
          <div class="logo-cont">
            <img src="images/newsber.svg" />
            <h3 class="logo-title">Вселенная</h3>
          </div>
        </b-col>
      </b-row>
    
  </header>
</template> 

<script>
export default {
  name: "Header",
};
</script>

<style>

</style>

