<template>
  <div class="content">
    <Header></Header>

    <b-container class="bv-example-row" fluid>
      <b-row class="text-center">
        <b-col cols="12"
          ><b-img
            class="planet"
            center
            src="images/planet.png"
            alt="planet"
          ></b-img
        ></b-col>
      </b-row>
    </b-container>

    <b-container>
      <b-row
        v-for="service in scervices"
        :key="service.id"
        @click="$router.push({ path: 'view', query: { id: service.ID } })"
        class="services"
      >
        <b-col cols="1" class="ico">
          <font-awesome-icon class="control" icon="archive"></font-awesome-icon>
        </b-col>
        <b-col cols="11" class="">
          <div class="service-title">{{ service.name }}</div>
          <div class="service-desc">
            {{ service.description | truncate(200, "...") }}
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import axios from "axios";
import Header from "./header.vue";

import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

export default {
  name: "services",
  data() {
    return {
      scervices: [],
      interval: 0,
    };
  },
  components: {
    Header,
  },
  methods: {
    truncateString(str, num) {
      if (str.length > num) {
        return str.slice(0, num) + "...";
      } else {
        return str;
      }
    },
    stopTimer() {
      if (this.interval) {
        window.clearInterval(this.interval);
      }
    },
    startTimer() {
      this.stopTimer();
      this.interval = window.setInterval(() => {
        axios.get("/API/services/read.php").then((response) => {
          this.scervices = response.data;
        });
      }, 1000);
    },
  },
  mounted() {
    axios
      .get("/API/services/read.php")
      .then((response) => (this.scervices = response.data));
    this.startTimer();
  },
  beforeDestroy() {
    this.stopTimer();
  },
};
</script>


<style scoped>
.content {
  background-image: url("../images/background.jpg");
  overflow-x: hidden;
}

.services {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.ico {
  font-size: 3rem;
}

.service-title {
  margin-bottom: 10px;
}
</style>