<template>
  <b-container>
    <div class="panel">
        <div class="icons">
            <font-awesome-icon class="control" icon="redo" @click="$router.go($router.currentRoute)"/>
            <font-awesome-icon class="control" icon="stop" @click="$router.push({name: 'index'})"/>

        </div>
    </div>
  </b-container>
</template>

<script>
export default {
  name: "toolsPanel",
};
</script>


<style  scoped>
.panel {
  border: 1px solid;
  border-radius: 0 0 20px 20px;
}

.container{
    width: 500px;
    position: fixed;
    right: 37%;
}

.icons{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    color: rgb(80 79 79 / 30%);

}

.control{
    cursor: pointer;
    margin: 6px;
}

.control:hover{
    color: black;
}
</style>
