<template>
  <div id="main">
    <tools-panel></tools-panel>
    <h1>view</h1>
    <div v-if="this.service" v-html="service.content"></div>
  </div>
</template>

<script>
import axios from "axios";
import toolsPanel from "./toolPanel.vue";

export default {
  name: "viewService",
  data() {
    return {
      service: {},
    };
  },
  components: {
    toolsPanel,
  },
  watch: {
    $route: "getService",
  },
  created() {
    this.getService();
  },
  methods: {
    getService() {
      axios
        .get(`/API/services/read_one.php?ID=${this.$route.query.id}`)
        .then((response) => {
          this.service = response.data;
        });
    },
  },
};
</script>
