@import url('./fonts.css');

/* @import url(https://allfont.ru/allfont.css?fonts=europeext-normal); */



.logo-cont{
    margin-top: 20px;
    margin-left: 30px;
}

.logo img {
    height: 65px;
}

.logo h3 {
    font-family:'Durk Medium', arial;
    font-size: 6.75rem;
    color: white;
}


.planet{
    width: 102%;
}