@font-face {
    font-family: 'EuropeExt Normal';
    src: url('../fonts/Europe_ExtNormal.ttf') ;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Durk Medium';
    src: url('../fonts/DrukCyr-Medium.ttf') ;
    font-style: normal;
    font-weight: normal;
}